    <section class="slider">
        <div class="container mx-auto flex items-center justify-between py-16">
            <div class="left w-1/2">
                <h4 class="text-lg font-bold" >Break it to Eat it</h4>
                <h1 class="text-5xl font-bold">Baked with a love</h1>
                <button class=" primarybutton rounded-full my-6 px-6 py-3 text-sm font-semibold  mr-2 mb-2">Order It Now</button>
            </div>
            <div class="Right w-1/2 ">
                <img src="/img/herocake.png" alt="hero-img" width="85%"> 
            </div>
        </div>
    </section>
    <section class="menu py-10">
        <h1 class="font-bold text-4xl text-center">Order Cakes</h1>
        <div class="container mx-auto grid grid-cols-4">

          <%cakes.forEach(function(cake){%>
            <div class="p-10">  
              <!--Card 1-->
              <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full" src="/img/<%= cake.image %>" alt="cake">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2 text-center"><%= cake.name %></div>
                  <p class="text-gray-500 text-base text-center">
                    <%= cake.size %>
                  </p>
                  <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700">₹ <%= cake.price %></h2>
                  <button data-cake="<%=JSON.stringify(cake)%>" class="primarybutton add-cart inline-block text-center w-full  rounded-full px-8  py-1 text-sm font-semibold mb-2">Add</button>
                </div>
                
              </div>
          </div>
          <%})%>
        </div>
    </section>